{% extends 'admin/layoutAdmin.html.twig' %}

{% block content %}
	{% verbatim %}
		<div id="app" class="p-3">
            <div class="w-25 mb-3">
                <input type="text" class="form-control" placeholder="Rechercher (email)" v-model="search">
            </div>
			<div class="row w-100 m-0 bg-white box-shadow py-1 mb-2" v-for="user in filteredUsers" :key="user.id">
				<div class="col">
					<img class="menuButton rounded-circle" :src="user.profilImage == null ? '/build/icons/Avatar.png' : '/build/images/profil/' + user.profilImage" alt="Avatar">
				</div>
				<div class="col d-flex flex-columns align-items-center">
					<p class="m-0">{{user.pseudonym}}</p>
				</div>
				<div class="col d-flex flex-columns align-items-center">
					<p class="m-0">{{user.email}}</p>
				</div>
				<div class="col d-flex flex-columns align-items-center">
					<p class="m-0">{{user.lastname}}
						{{user.firstname}}</p>
				</div>
				<div class="col d-flex flex-columns align-items-center">
					<p class="m-0">{{moment(user.createdAt.date).format('DD/MM/YYYY')}}</p>
				</div>
				<div class="col d-flex flex-columns align-items-center">
					<i class="fas fa-circle" :class="user.workflowState == 'active' ? 'text-success' : user.workflowState == 'inactive' ? 'text-danger' : 'text-secondary'"></i>
				</div>
			</div>
		</div>
	{% endverbatim %}

    <script>
        var app = new Vue({
            el: "#app",
            data: () => ({
                users: {{ users|json_encode|raw }},
                moment,
                search: '',
            }),
            computed: {
                filteredUsers() {
                    return this.search.length > 0 ? this.users.filter(user => user.email.includes(this.search.toLowerCase())) : this.users;
                },
            }
        })
	</script>
{% endblock %}
