{% extends 'layout.html.twig' %}

{% block favicon %}
	<link rel="icon" href="{{ asset('build/icons/favicon.png') }}"/>
{% endblock %}

{% block title %}Bends admin
{% endblock %}

{% block header %}
	<div class="fixed-top">
		<div id="nav" class="row headBar anim m-0">
			<div class="col col-md-4 my-auto">
				<a href="{{ path('home') }}" class="noDecorationLink">
					<img class="menuButton" src="{{ asset('build/icons/violetBtn.png') }}" alt="bouton appli">
				</a>
			</div>
			<div class="col-6 col-md-4 my-auto">
				<a href="{{ path('admin_home') }}" class="noDecorationLink">
					<h1 class="text-center actu-title">Bends
						<em class="cmnty-actu">admin</em>
					</h1>
				</a>
			</div>
			<div class="col col-md-4 my-auto text-right">
				<a href="{{ path('profil_index') }}">
					<img class="menuButton rounded-circle" src="{{ asset('build/images/profil/') }}{{ user.profilImage }}" alt="Avatar">
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
    <div class="adminSection h-100">
		<div class="d-flex h-100 w-100 m-0 position-fixed">
			<div class="bg-dark py-4 px-0 admin-menu-links">
				<a href="{{ path('admin_home') }}" class="noDecorationLink"><p><i class="fas fa-tachometer-alt"></i> Dashboard</p></a>
				<a href="" class="noDecorationLink"><p><i class="fas fa-check-square"></i> Validations</p></a>
				<a href="{{ path('admin_offers') }}" class="noDecorationLink"><p><i class="fas fa-newspaper"></i> Offres</p></a>
				<a href="{{ path('admin_users') }}" class="noDecorationLink"><p><i class="fas fa-user-friends"></i> Utilisateurs</p></a>
				<a href="" class="noDecorationLink"><p><i class="fas fa-building"></i> Associations</p></a>
				<a href="" class="noDecorationLink"><p><i class="fas fa-at"></i> Articles</p></a>
				<a href="" class="noDecorationLink"><p><i class="fas fa-envelope"></i> Messages</p></a>
				<a href="" class="noDecorationLink"><p><i class="fas fa-exclamation-triangle"></i> Signalements</p></a>
			</div>
			<div class="bg-white w-100 overflow-auto admin-content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>

    <script>
		document.querySelector('#nav').classList.remove('anim');
    </script>
{% endblock %}
