{% extends 'layout.html.twig' %}

{% block title %}Consulter les annonces{% endblock %}

{% block body %}
    <div class="homeSection">
        <div class="row justify-content-center p-3 w-100 m-0">
            <div class="col col-md-4 col-lg-10 loginBlock h-100 p-2">
                <h2 class="loginTitle mb-5 text-center">Annonces</h2>
                <div class="row justify-content-center filtersZone p-3 w-100 m-0">
                    <div class="col-1">
                        <a href="{{ path('offers_new') }}" class="btn btn-primary btn-block"><i
                                    class="far fa-plus-square"></i></a>
                    </div>
                    <div class="col">
                        <input type="search" class="form-control" placeholder="Rechercher">
                    </div>
                    <div class="col">
                        <select name="categories" id="categories" class="form-control">
                            <option value="allCat" selected>Catégories</option>
                            {% for categorie in categories %}
                                <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="categories" id="categories" class="form-control">
                            <option value="allReg" selected>Régions</option>
                            {% for region in regions %}
                                <option value="{{ region.code }}">{{ region.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-primary btn-block"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="row p-3 w-100 m-0">
                    {% for offer in offers %}
                        <div class="col-12  m-1 p-3">
                            <a href="{{ path('offers_show', {'id': offer.id}) }}">
                                <div class="card flex-row flex-wrap">
                                    <div class="card-header border-0">
                                        <img src="//placehold.it/150" alt="photo">
                                    </div>
                                    <div class="card-block p-2 w-75">
                                        <div class="row w-100">
                                            <div class="col">
                                                <h4 class="card-title mb-5">{{ offer.title }}</h4>
                                            </div>
                                            <div class="col text-right">
                                                <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                        <p class="card-text m-0">{{ offer.category.name }}</p>
                                        <p class="card-text m-0">{{ offer.city }}</p>
                                        <p class="card-text m-0">{{ offer.createdAt|date('d-m-Y, H:i') }}</p>
                                    </div>
                                    <div class="w-100"></div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <p class="alert alert-primary">
                                Aucune annonce disponible. Déposez la votre <a href="{{ path('offers_new') }}">ici</a>.
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
