{% extends 'layout.html.twig' %}

{% block title %}Dernières recherches{% endblock %}

{% block body %}
    <div class="homeSection">
        <div class="row justify-content-center p-3 w-100 m-0">
            <div class="col col-md-4 col-lg-10 loginBlock h-100 p-2">
                <h2 class="loginTitle mb-3 text-center">Dernières recherches</h2>
                <div class="row p-3 w-100 m-0">
                    {% for research in researches %}
                        <div class="col-12 my-2 p-2 bg-white" style="border-radius: 5px">
                            {% if research.search %}
                                <p>{{ research.search }}</p>
                            {% endif %}
                            {% if research.category %}
                                <p>{{ research.category.name }}</p>
                            {% endif %}
                            {% if research.location %}
                                <p>{{ research.location }}</p>
                            {% endif %}
                            <div class="text-right">
                                <small class="text-secondary" style="font-style: italic">{{ research.createdAt|date('d-m-Y à H:i') }}</small>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <p class="alert alert-primary">
                                Aucune recherche disponible. <a href="{{ path('offers_index') }}">Consultez les annonces</a>.
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
