{% extends 'layout.html.twig' %}

{% block title %}Déposer une annonce{% endblock %}

{% block body %}
    <div class="homeSection">
        <div class="row justify-content-center p-3 w-100 m-0">
            <div class="col col-md-4 col-lg-8 offset-md-4 loginBlock m-2 p-3">
                <h2 class="loginTitle mb-5 text-center">Déposer une annonce</h2>
                {{ form_start(form) }}
                <div class="subtitleZone p-1 mb-3">
                    <h5 class="text-white m-0">Votre annonce</h5>
                </div>
                {{ form_row(form.category) }}
                {{ form_row(form.type) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                <div class="subtitleZone p-1 mb-3">
                    <h5 class="text-white m-0">Images</h5>
                </div>
                <div class="mb-3">
                    <div class="mb-2">
                        <label for="img1"><i class="fas fa-camera"></i> Photo 1</label>
                        <input id="img1" name="img1" type="file" accept="image/png, image/jpeg"
                               onchange="loadFile('output1')"/>
                        <img id="output1" class="input-photo my-1" />
                    </div>
                    <div class="mb-2">
                        <label for="img2"><i class="fas fa-camera"></i> Photo 2</label>
                        <input id="img2" name="img2" type="file" accept="image/png, image/jpeg"
                               onchange="loadFile('output2')"/>
                        <img id="output2" class="input-photo my-1" />
                    </div>
                    <div class="mb-2">
                        <label for="img3"><i class="fas fa-camera"></i> Photo 3</label>
                        <input id="img3" name="img3" type="file" accept="image/png, image/jpeg"
                               onchange="loadFile('output3')"/>
                        <img id="output3" class="input-photo my-1" />
                    </div>
                </div>
                <div class="subtitleZone p-1 mb-3">
                    <h5 class="text-white m-0">Localisation</h5>
                </div>
                <div class="row w-100">
                    <div class="col mb-1">
                        <label for="zip">Code postal</label>
                        <input id="zip" name="zip" type="text" maxlength="5" onchange="setZipCode(this.value)"
                               class="form-control"
                               pattern="[0-9]{5}">
                    </div>
                    <div class="col">
                        <label for="filteredCities">Ville</label>
                        <select name="filtered_cities" id="filteredCities" class="form-control">
                            {% for city in cities %}
                                <option value="{{ city.name }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col d-none d-sm-block text-center pt-2">
                        <i class="fas fa-map-marker-alt position-icon"></i>
                    </div>
                    <div class="col-12 mb-3">
                        <small class="text-muted"><i class="fas fa-info-circle"></i>
                            Entrez votre code postal puis sélectionnez la ville parmi la liste proposée.
                        </small>
                    </div>
                </div>
                <div class="subtitleZone p-1 mb-3">
                    <h5 class="text-white m-0">Vos informations</h5>
                </div>
                <div class="row w-100">
                    <div class="col-12 col-sm-6">{{ form_row(form.createdBy) }}</div>
                    <div class="col-12 col-sm-6">{{ form_row(form.phoneNumber) }}</div>
                </div>
                {{ form_row(form.phoneVisible) }}
                <button class="btn btn-success btn-block my-3">{{ button_label|default('Valider') }}</button>
                {{ form_end(form) }}
                <button onclick="confirmAbandonment()" class="btn btn-outline-danger btn-block">Abandonner</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function confirmAbandonment() {
            swal({
                title: "Êtes vous sûr(e)?",
                text: "Veuillez confirmer l'abandon",
                icon: "warning",
                buttons: ["Annuler", "Abandonner l'ajout"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        window.history.back();
                        swal("Annonce non ajoutée", {
                            icon: "success",
                        });
                    } else {
                        swal("Vous pouvez poursuivre l'ajout");
                    }
                });
        }

        function setZipCode(value) {
            if (value.length === 5) {
                $.ajax({
                    url: '{{ path('offers_new') }}',
                    type: 'POST',
                    dataType: "html",
                    data: {zipCode: value},
                    success: function (data) {
                        var result = $('<div />').append(data).find('#filteredCities').html();
                        $('#filteredCities').html(result);
                    },
                    error: function () {
                        alert('error')
                    }
                })
            }
        }

        function loadFile(imgId) {
            const output = document.getElementById(imgId);
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };

    </script>
{% endblock %}
