{% extends 'layout.html.twig' %}

{% block title %}{{ offer.title }}{% endblock %}

{% block body %}
    <div class="homeSection">
        <div class="row justify-content-center p-3 w-100 m-0">
            <div class="col col-md-4 col-lg-10 loginBlock h-100 p-2">
                <h1 class="h2 offer-title pl-2">{{ offer.title }}</h1>
                <div class="d-flex flex-wrap">
                    <div class="card flex-fill m-2 p-2">
                        <h6><b>Description</b></h6>
                        <p>{{ offer.description }}</p>
                    </div>
                    <div class="card flex-fill m-2 p-2">
                        <h6><b>Informations</b></h6>
                        {% if offer.type.id == 2 %}
                            <div class="d-flex">
                                <span class="card-badge badge-pill badge-warning text-center text-white mb-2"><b>Demande</b></span>
                            </div>
                        {% endif %}
                        {% if offer.createdAt|date('d-m-Y') == today|date('d-m-Y') %}
                            <p>Mis en ligne : Aujourd'hui à {{ offer.createdAt|date('H:i') }}</p>
                        {% elseif offer.createdAt|date('d-m-Y') == yesterday|date('d-m-Y') %}
                            <p>Mis en ligne : Hier à {{ offer.createdAt|date('H:i') }}</p>
                        {% else %}
                            <p>Mis en ligne le : {{ offer.createdAt|date('d-m-Y à H:i') }}</p>
                        {% endif %}
                        <p>Catégorie : {{ offer.category.name }}</p>
                        <button class="btn btn-primary mx-auto w-75" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-comments"></i> Contacter l'annonceur
                        </button>
                        <div class="collapse w-75 mx-auto" id="collapseExample">
                            <div class="offer-contact m-3 p-3 mx-auto text-center">
                                <p><i class="fas fa-envelope"></i> <b>Adresse email</b></p>
                                <p>{{ offer.createdBy }}</p>
                                {% if not offer.phoneVisible %}
                                    <p><i class="fas fa-phone"></i> <b>Numéro de téléphone</b></p>
                                    <p>{{ offer.phoneNumber }}</p>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card h_iframe m-2 p-2">
                    <p><i class="fas fa-map-marker-alt"></i> {{ offer.city }} {{ offer.context }}</p>
                    <div id="map" style="height: 150px"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var lat = {{ coordinates[1] }};
        var lon = {{ coordinates[0] }};

        var points = {
            "{{ offer.city }} {{ offer.context }}": {"lat": {{ coordinates[1] }}, "lon": {{ coordinates[0] }}}
        };

        var macarte = null;


        function initMap() {

            macarte = L.map('map').setView([lat, lon], 11);

            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                attribution: 'données © OpenStreetMap/ODbL - rendu OSM France',
                minZoom: 1,
                maxZoom: 20
            }).addTo(macarte);

            for (point in points) {
                var marker = L.marker([points[point].lat, points[point].lon]).addTo(macarte);
                marker.bindPopup(point);
            }
        }

        window.onload = function () {
            initMap();
        };

    </script>

    {#{{ include('offers/_delete_form.html.twig') }}#}
{% endblock %}
