{% extends 'admin/layoutAdmin.html.twig' %}

{% block content %}
	<div class="p-3">
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Image</th>
					<th>Titre</th>
					<th>Type</th>
					<th>Ville</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				{% for offer in allOffers %}
					<tr class="cursorPointer" onclick="window.location.href='/admin/offers/{{ offer.id }}'">
						<th>{{ offer.id }}</th>
						<td>
							{% if offer.pictures is not empty %}
								<img src="{{ asset('/build/images/offers/') }}{{ offer.pictures[0] }}" class="miniature" alt="image">
							{% else %}
								<img src="{{ asset('build/images/picture-no-image.jpg') }}" class="miniature" alt="image">
							{% endif %}
						</td>
						<td>{{ offer.title }}</td>
						<td>{{ offer.type.name }}</td>
						<td>{{ offer.city }}</td>
						<td>{{ offer.createdAt|date('d-m-Y H:i') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
