{% extends 'base.html.twig' %}

{% block favicon %}
    {% if messages > 0 %}
        <link rel="icon" href="{{ asset('build/icons/faviconNotif.png') }}"/>
    {% else %}
        <link rel="icon" href="{{ asset('build/icons/favicon.png') }}"/>
    {% endif %}
{% endblock %}

{% block header %}
    <script type="text/javascript">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                swal({
                    title: "{{ message }}",
                    icon: "{{ label }}",
                    button: "Fermer"
                });
            {% endfor %}
        {% endfor %}
    </script>

    <div class="fixed-top">
        <div id="nav" class="row headBar anim m-0">
            <div class="col-4 my-auto">
                <img class="menuButton cursorPointer" src="{{ asset('build/icons/iconmonstr-menu-5.svg') }}"
                     alt="Boutton Menu" onclick="actionMenu()" style="color: #3f51b5">
                {% if messages > 0 %}
                    <i class="fas fa-circle text-danger" style="margin-left: -12px; font-size: 12px;"></i>
                {% endif %}
            </div>
            <div class="col-4 my-auto">
                <a href="{{ path('home') }}" class="noDecorationLink">
                    <h1 class="text-center">Bends</h1>
                </a>
            </div>
            <div class="col-4 my-auto text-right">
                <a href="{{ path('profil_index') }}">
                    {% if user %}
                        {% if user.profilImage %}
                            <img class="menuButton rounded-circle"
                                 src="/build/images/profil/{{ user.profilImage }}"
                                 alt="Avatar">
                        {% else %}
                            <img class="menuButton" src="{{ asset('build/icons/Avatar.png') }}"
                                 alt="Avatar">
                        {% endif %}
                    {% else %}
                        <img class="menuButton" src="{{ asset('build/icons/Avatar.png') }}"
                             alt="Avatar">
                    {% endif %}
                </a>
            </div>
        </div>
        <input type="checkbox" id="side-menu-switch" checked>
        <div class="side-menu shadow-menu">
            <div class="image-menu-top mb-3"></div>
            <form action="{{ path('offers_index') }}" method="get">
                <input type="text" name="search" placeholder="Rechercher" required>
                <input type="text" name="category" value="allCat" hidden>
                <input type="text" name="location" value="allReg" hidden>
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <nav>
                <a href="{{ path('offers_new') }}" class="lightLink"><p><i class="fas fa-plus-circle"></i> Déposer une
                        annonce</p></a>
                <a href="{{ path('offers_index') }}" class="lightLink"><p><i class="fas fa-eye"></i> Consulter les
                        annonces</p></a>
                <a href="{{ path('associations_home') }}" class="lightLink"><p><i class="fas fa-hands-helping"></i> Espace associations</p></a>
                <h4 class="mx-2">Mon éspace</h4>
                <a href="{{ path('profil_index') }}" class="lightLink"><p><i class="fas fa-user-circle"></i> Profil</p></a>
                <a href="{{ path('offers_lastResearches') }}" class="lightLink"><p><i class="fas fa-search"></i> Recherches</p></a>
                <a href="{{ path('favorites') }}" class="lightLink"><p><i class="far fa-star"></i> Favoris</p></a>
                {% if messages > 0 %}
                    <a href="{{ path('messages_index') }}" class="lightLink"><p><i class="far fa-envelope"></i> Messages <span class="notification-number">{{ messages }}</span></p></a>
                {% else %}
                    <a href="{{ path('messages_index') }}" class="lightLink"><p><i class="far fa-envelope"></i> Messages</p></a>
                {% endif %}
                {% if app.user %}
                    <h4 class="text-right noDecorationLink cursorPointer mx-2" onclick="confirm()">Se déconnecter</h4>
                {% else %}
                    <a href="{{ path('app_login') }}" class="noDecorationLink"><h4 class="text-right mx-2">Se
                            connecter</h4>
                    </a>
                {% endif %}
                <h3 class="text-center cursorPointer" onclick="backToLanding()">Bends</h3>
            </nav>
        </div>
    </div>

    <script type="text/javascript">
        function actionMenu() {
            document.querySelector('#side-menu-switch').click();
        }

        function confirm() {
            swal({
                title: "Êtes vous sûr(e)?",
                text: "Veuillez confirmer la déconnexion",
                icon: "warning",
                buttons: ["Annuler", "Déconnexion"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        document.location.href = '/app/logout';
                        swal("Vous avez bien été déconnecté", {
                            icon: "success",
                        });
                    } else {
                        swal("Vous êtes toujours connecté");
                    }
                });
        }

        function backToLanding() {
            document.location.href = '/';
        }

        document.querySelector('#nav').classList.remove('anim');
    </script>
{% endblock %}