{% extends 'base.html.twig' %}

{% block header %}
    <script type="text/javascript">
        {% for label, messages in app.flashes %}
        {% for message in messages %}

        swal({
            title: "{{ message }}",
            icon: "{{ label }}",
            button: "Fermer"
        });

        {% endfor %}
        {% endfor %}
    </script>

    <div class="fixed-top">
        <div class="row headBar m-0">
            <div class="col-4 my-auto">
                <img class="menuButton cursorPointer" src="{{ asset('build/icons/Menu_button.png') }}"
                     alt="Boutton Menu" onclick="actionMenu()">
            </div>
            <div class="col-4 my-auto">
                <a href="{{ path('home') }}" class="noDecorationLink">
                    <h1 class="text-center">Bends</h1>
                </a>
            </div>
            <div class="col-4 my-auto text-right">
                <a href="{{ path('profil') }}">
                    {% if user %}
                        {% if user.profilImage %}
                            <img class="menuButton rounded-circle"
                                 src="/build/images/profil/{{ user.profilImage }}"
                                 alt="Avatar">
                        {% else %}
                            <img class="menuButton" src="{{ asset('build/icons/Avatar.png') }}"
                                 alt="Avatar">
                        {% endif %}
                    {% else %}
                        <img class="menuButton" src="{{ asset('build/icons/Avatar.png') }}"
                             alt="Avatar">
                    {% endif %}
                </a>
            </div>
        </div>
        <div id="menu" class="menuLaunchpad d-none p-3">
            <h4>Menu</h4>
            <a href="{{ path('offers_new') }}" class="lightLink"><p><i class="far fa-plus-square"></i> Déposer une annonce</p></a>
            <div class="d-flex">
                <input type="search" class="form-control mb-2" placeholder="Rechercher">
                <button class="btn btn-primary" style="height: 38px"><i class="fas fa-search"></i></button>
            </div>
            <a href="{{ path('offers_index') }}" class="lightLink"><p><i class="far fa-eye"></i> Consulter les annonces</p></a>
            <p><i class="fas fa-hands-helping"></i> Espace associations</p>
            <h4>Mon éspace</h4>
            <a href="{{ path('profil') }}" class="lightLink"><p><i class="fas fa-user-circle"></i> Profil</p></a>
            <p><i class="fas fa-search"></i> Recherches</p>
            <p><i class="far fa-star"></i> Favoris</p>
            <p><i class="far fa-envelope"></i> Messages</p>
            {% if app.user %}
                <h4 class="text-right noDecorationLink cursorPointer" onclick="confirm()">Se déconnecter</h4>
            {% else %}
                <a href="{{ path('app_login') }}" class="noDecorationLink"><h4 class="text-right">Se connecter</h4></a>
            {% endif %}
            <h3 class="text-center">Bends</h3>
        </div>
    </div>

    <script type="text/javascript">
        function actionMenu() {
            let showMenu = document.getElementById('menu');

            showMenu.classList.contains('d-none') ? showMenu.classList.remove('d-none') : showMenu.classList.add('d-none');
        }

        function confirm() {
            swal({
                title: "Êtes vous sûr(e)?",
                text: "Veuillez confirmer la déconnexion",
                icon: "warning",
                buttons: ["Annuler", "Déconnexion"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        document.location.href = '/logout';
                        swal("Vous avez bien été déconnecté", {
                            icon: "success",
                        });
                    } else {
                        swal("Vous êtes toujours connecté");
                    }
                });
        }
    </script>
{% endblock %}
