{% extends 'layout.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}
	<div class="homeSection">
		<div class="row justify-content-center p-3 w-100 m-0">
			<div class="col col-md-4 col-lg-8 offset-md-4 loginBlock m-2 p-3">
				<h2 class="loginTitle mb-3 text-center">Messages</h2>
				<div class="row justify-content-around p-3 w-100 m-0">
					<div class="row justify-content-center filtersZone p-3 w-100 mb-2 d-block d-md-flex">
						<div class="col mt-1">
							<div class="text-white text-center py-1" style="border: 1px solid rgba(255, 255, 255, 0.3); border-radius: 5px;">
								<input type="checkbox" class="check" id="checkAll" onclick="selectAll()">
								<label for="checkAll" class="text-white m-0">Séléctionner tout</label>
							</div>
						</div>
						<div class="col my-1">
							<button class="btn btn-danger btn-block" style="box-shadow: -1px 5px 5px -4px black   " title="Marquer comme non lu(s)">
								<i class="far fa-trash-alt"></i>
							</button>
						</div>
					</div>
					{% for discussion in discussions %}
						{% set newMessages = false %}
						{% for message in discussion.messages %}
							{% if message.workflowstate == "created" and message.createdBy != app.user %}
								{% set newMessages = true %}
							{% endif %}
						{% endfor %}
						<div class="col-12 my-2 p-2 bg-white message-card">
							<a href="{{ path('messages_discussion', {'id': discussion.id}) }}" class="discussion-link">
								<div class="d-flex">
									<div class="d-flex flex-columns align-items-center">
										<input type="checkbox" class="check" name="messages[]" value="{{ discussion.id }}">
									</div>
									{% if discussion.offer.pictures is not empty %}
										<img src="{{ asset('build/images/offers/') }}{{ discussion.offer.pictures[0] }}" class="miniature mx-1" alt="miniature">
									{% else %}
										<img src="{{ asset('build/images/picture-no-image.jpg') }}" class="miniature mx-1" alt="photo">
									{% endif %}
									<div class="flex-grow-1">
										<div>
											<p class="message-user m-0">
												{% if discussion.createdBy == app.user %}
													{{ discussion.user.pseudonym }}
												{% else %}
													{{ discussion.createdBy.pseudonym }}
												{% endif %}
											</p>
											{% if discussion.offer %}
												<p class="m-0">{{ discussion.offer.title }}</p>
											{% else %}
												<p class="m-0">** Annonce supprimée **</p>
											{% endif %}
										</div>
										<div class="message-preview">
											<span class="text-muted">{{ discussion.messages[discussion.messages|length -1].createdAt|date('d/m') }}</span>
											{% if newMessages %}
												<i class="fas fa-circle text-danger"></i>
											{% endif %}
										</div>
									</div>
									<div class="d-flex flex-columns align-items-center">
										<i class="fas fa-ellipsis-v"></i>
									</div>
								</div>
							</a>
						</div>
					{% else %}
						<div class="col-12">
							<p class="alert alert-primary">
								Vous n'avez aucun message.
								<a href="{{ path('offers_index') }}">Consultez les annonces</a>.
							</p>
						</div>
					{% endfor %}
					<div class="col-12 mt-2 d-flex justify-content-center">
						<div>
							{{ knp_pagination_render(discussions) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function selectAll() {
$("#checkAll").click(function () {
$(".check").prop('checked', $(this).prop('checked'));
});
}
	</script>
{% endblock %}
