{% extends 'layout.html.twig' %}

{% block favicon %}
	<link rel="icon" href="{{ asset('build/icons/favicon.png') }}"/>
{% endblock %}

{% block title %}Bends actuality
{% endblock %}

{% block header %}
	<div class="fixed-top">
		<div id="nav" class="row headBar anim m-0">
			<div class="col col-md-4 my-auto">
				<a href="{{ path('home') }}" class="noDecorationLink">
					<img class="menuButton" src="{{ asset('build/icons/violetBtn.png') }}" alt="bouton appli">
				</a>
			</div>
			<div class="col-6 col-md-4 my-auto">
				<a href="{{ path('actuality_home') }}" class="noDecorationLink">
					<h1 class="text-center actu-title">Bends
						<em class="cmnty-actu">actuality</em>
					</h1>
				</a>
			</div>
			<div class="col col-md-4 my-auto text-right">
				<a href="{{ path('profil_index') }}">
					{% if user.profilImage %}
						<img class="menuButton rounded-circle" src="{{ asset('bends/images/profil/') }}{{ user.profilImage }}" alt="Avatar">
					{% else %}
						<img class="menuButton" src="{{ asset('build/icons/Avatar.png') }}" alt="Avatar">
					{% endif %}
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="actuSection">
		<div class="row justify-content-around p-3 w-100 m-0">
			<div class="col col-lg-7 loginBlock h-100 p-2">
				{% for article in articles %}
					{% include 'actualities/_partials/article.html.twig' %}
				{% endfor %}
			</div>
			<div class="col col-lg-4 h-100 d-none d-md-block">
				<div class="row">
					<div class="col-12 loginBlock p-2 mb-3">
						<h3 class="cmnty mb-2">Dernières annonces</h3>
						{% for offer in lastOffers %}
							{% include 'offers/_partials/offer.html.twig' %}
						{% else %}
							<div class="col-12">
								<p class="alert alert-primary box-shadow">
									Aucune annonce disponible. Déposez la votre
									<a href="{{ path('offers_new') }}">ici</a>.
								</p>
							</div>
						{% endfor %}
					</div>
					<div class="col-12 loginBlock p-2">
						<h3 class="cmnty mb-2">Dernières associations</h3>
						<div class="pl-5">
							{% for association in lastAssociations %}
								{% include 'associations/_partials/association.html.twig' %}
							{% else %}
								<div class="col-12">
									<p class="alert alert-primary box-shadow">
										Aucune association disponible. Créez la votre
										<a href="{{ path('associations_new') }}">ici</a>.
									</p>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mt-2 d-flex justify-content-center">
				<div>
					{{ knp_pagination_render(articles) }}
				</div>
			</div>
		</div>
	</div>
	<footer class="bg-dark p-5">
		<div class="row w-100 m-0">
			<div class="col-12 col-md-4 text-center">
				<h3 class="bnds">Bends</h3>
				<h6 class="cmnty">La communauté solidaire</h6>
				<p>contact@bends.fr</p>
			</div>
			<div class="col-12 col-md-4 text-center">
				<a href="{{ path('land') }}">
					<p>Qui sommes-nous?</p>
				</a>
				<a href="{{ path('associations_home') }}">
					<p>Éspace associations</p>
				</a>
				<a href="{{ path('actuality_home') }}">
					<p>Actualités</p>
				</a>
			</div>
			<div class="col-12 col-md-4 text-center">
				<a href="">
					<p>Mentions légales</p>
				</a>
				<a href="">
					<p>Conditions générales d'utilisation</p>
				</a>
				<a href="">
					<p>Aidez-nous</p>
				</a>
			</div>
		</div>
		<div class="text-center">
			<p>
				<small>Bends -</small>
				<a href="https://www.facebook.com/Bends-106875601578213" target="_blank">
					<i class="fab fa-facebook-square"></i>
				</a>
				<a href="https://www.instagram.com/bends_community/" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="https://www.linkedin.com/company/bends-community" target="_blank">
					<i class="fab fa-linkedin"></i>
				</a>
			</p>
		</div>
	</footer>

	<script>
		document.querySelector('#nav').classList.remove('anim');

function addClick(value) {
$.ajax({
url: "/actuality/addClick/" + value,
type: 'POST',
error: function () {
alert('error')
}
})
}
	</script>
{% endblock %}
