{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="homeSection">
        <div class="row justify-content-center p-3 w-100 m-0">
            <div class="col col-md-4 offset-md-4 loginBlock m-2 p-3">
                <div class="card">
                    <img src="{{ asset('build/images/31799.jpg') }}" class="card-img-top" style="max-height: 200px"
                         alt="texture">
                    <div class="card-body">
                        <div class="text-center">
                            {% if user.profilImage %}
                                <img class="profilImage rounded-circle img-thumbnail"
                                     src="/build/images/profil/{{ user.profilImage }}"
                                     alt="Avatar">
                            {% else %}
                                <img class="profilImage rounded-circle img-thumbnail"
                                     src="{{ asset('build/icons/Avatar.png') }}"
                                     alt="Avatar">
                            {% endif %}
                        </div>
                        <h2 class="loginTitle my-3 text-center">{{ user.firstname }} {{ user.lastname }}</h2>
                        <div class="my-2">
                            {{ form_start(form) }}
                            {{ form_row(form.profilImage) }}
                            <input type="submit" class="btn btn-primary">
                            {{ form_end(form) }}
                        </div>

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Adresse email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Sexe</th>
                                <td>{{ user.gender }}</td>
                            </tr>
                            <tr>
                                <th>Age</th>
                                <td>{{ user.age }}</td>
                            </tr>
                        </table>
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger btn-block mt-3">
                            Déconnexion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
