{% extends 'layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="homeSection">
        <div class="row justify-content-center p-3 w-100 m-0">
            <div class="col col-md-4 offset-md-4 loginBlock m-2 p-3">
                <div class="card">
                    <img src="{{ asset('build/images/31799.jpg') }}" class="card-img-top" style="max-height: 200px"
                         alt="texture">
                    <div class="card-body">
                        <div class="text-center">
                            {% if user.profilImage %}
                                <img class="profilImage rounded-circle img-thumbnail"
                                     src="/build/images/profil/{{ user.profilImage }}"
                                     alt="Avatar">
                            {% else %}
                                <img class="profilImage rounded-circle img-thumbnail"
                                     src="{{ asset('build/icons/Avatar.png') }}"
                                     alt="Avatar">
                            {% endif %}
                        </div>
                        <h2 class="loginTitle my-3 text-center">{{ user.firstname }} {{ user.lastname }}</h2>
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary mx-auto my-2">Valider</button>
                        {{ form_end(form) }}

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Adresse email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Sexe</th>
                                <td>{{ user.gender }}</td>
                            </tr>
                            <tr>
                                <th>Age</th>
                                <td>{{ user.age }}</td>
                            </tr>
                        </table>
                        <div class="text-center text-blue font-weight-bold">
                            {{ user.offers|length }} annonces
                        </div>
                        <button onclick="confirm()" class="btn btn-outline-danger btn-block mt-3">
                            Déconnexion
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function confirm() {
            swal({
                title: "Êtes vous sûr(e)?",
                text: "Veuillez confirmer la déconnexion",
                icon: "warning",
                buttons: ["Annuler", "Déconnexion"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        document.location.href = '/logout';
                        swal("Vous avez bien été déconnecté", {
                            icon: "success",
                        });
                    } else {
                        swal("Vous êtes toujours connecté");
                    }
                });
        }
    </script>
{% endblock %}
